%load_ext autoreload
%autoreload 2

# Import modules
1. Builder => for building a model.
2. pandas => for managing data.
3. os => for walking into directory to get files.
4. cleaner => for cleaning data.

In [2]:
from builder import Builder
import pandas as pd
import os
from cleaner import Cleaner

In [3]:
builder = Builder()
model = builder.build_model(type_of_model="LinearRegression")

In [4]:
"test"

'test'

In [5]:
for dirname, _, filenames in os.walk('/Covid-Regression-MortalityVSPopulation/datasets'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [6]:
data_path = '/usr/src/Covid-Regression-MortalityVSPopulation/datasets/covid-vaccination-vs-death_ratio.csv'

In [8]:
df = pd.read_csv(data_path)

In [9]:
df.loc[df['country'] == 'Thailand']

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
21441,21441,Thailand,THA,2021-03-24,102050.0,96188.0,5862.0,0,70009982.0,0.137392
21442,21442,Thailand,THA,2021-03-30,180477.0,151413.0,29064.0,0,70009982.0,0.216273
21443,21443,Thailand,THA,2021-04-01,204642.0,167235.0,37407.0,0,70009982.0,0.238873
21444,21444,Thailand,THA,2021-04-02,231882.0,189666.0,42216.0,0,70009982.0,0.270913
21445,21445,Thailand,THA,2021-04-03,244254.0,201864.0,42390.0,1,70009982.0,0.288336
...,...,...,...,...,...,...,...,...,...,...
21653,21653,Thailand,THA,2021-11-15,85012905.0,45374194.0,36855732.0,45,70009982.0,64.811035
21654,21654,Thailand,THA,2021-11-16,85412126.0,45488767.0,37114546.0,62,70009982.0,64.974687
21655,21655,Thailand,THA,2021-11-17,86071507.0,45700036.0,37527295.0,56,70009982.0,65.276457
21656,21656,Thailand,THA,2021-11-18,86890826.0,46005152.0,37939622.0,55,70009982.0,65.712275
21657,21657,Thailand,THA,2021-11-20,88330952.0,46473004.0,38836504.0,53,70009982.0,66.380540

In [10]:
df.isna().sum()

Unnamed: 0                 0
country                    0
iso_code                   0
date                       0
total_vaccinations         0
people_vaccinated          0
people_fully_vaccinated    0
New_deaths                 0
population                 0
ratio                      0
dtype: int64

In [11]:
df.head()

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40194523.0,1.116764
1,1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40194523.0,1.170162
2,2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40194523.0,1.185154
3,3,Afghanistan,AFG,2021-05-26,590454.0,479372.0,111082.0,19,40194523.0,1.192630
4,4,Afghanistan,AFG,2021-05-27,593313.0,479574.0,113739.0,14,40194523.0,1.193133

In [12]:
data = df.copy()

In [13]:
data.loc[data['country'] == 'Thailand']

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
21441,21441,Thailand,THA,2021-03-24,102050.0,96188.0,5862.0,0,70009982.0,0.137392
21442,21442,Thailand,THA,2021-03-30,180477.0,151413.0,29064.0,0,70009982.0,0.216273
21443,21443,Thailand,THA,2021-04-01,204642.0,167235.0,37407.0,0,70009982.0,0.238873
21444,21444,Thailand,THA,2021-04-02,231882.0,189666.0,42216.0,0,70009982.0,0.270913
21445,21445,Thailand,THA,2021-04-03,244254.0,201864.0,42390.0,1,70009982.0,0.288336
...,...,...,...,...,...,...,...,...,...,...
21653,21653,Thailand,THA,2021-11-15,85012905.0,45374194.0,36855732.0,45,70009982.0,64.811035
21654,21654,Thailand,THA,2021-11-16,85412126.0,45488767.0,37114546.0,62,70009982.0,64.974687
21655,21655,Thailand,THA,2021-11-17,86071507.0,45700036.0,37527295.0,56,70009982.0,65.276457
21656,21656,Thailand,THA,2021-11-18,86890826.0,46005152.0,37939622.0,55,70009982.0,65.712275
21657,21657,Thailand,THA,2021-11-20,88330952.0,46473004.0,38836504.0,53,70009982.0,66.380540

In [14]:
data = data.drop(data.loc[data['country'] != 'Thailand'].index)

In [15]:
data

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
21441,21441,Thailand,THA,2021-03-24,102050.0,96188.0,5862.0,0,70009982.0,0.137392
21442,21442,Thailand,THA,2021-03-30,180477.0,151413.0,29064.0,0,70009982.0,0.216273
21443,21443,Thailand,THA,2021-04-01,204642.0,167235.0,37407.0,0,70009982.0,0.238873
21444,21444,Thailand,THA,2021-04-02,231882.0,189666.0,42216.0,0,70009982.0,0.270913
21445,21445,Thailand,THA,2021-04-03,244254.0,201864.0,42390.0,1,70009982.0,0.288336
...,...,...,...,...,...,...,...,...,...,...
21653,21653,Thailand,THA,2021-11-15,85012905.0,45374194.0,36855732.0,45,70009982.0,64.811035
21654,21654,Thailand,THA,2021-11-16,85412126.0,45488767.0,37114546.0,62,70009982.0,64.974687
21655,21655,Thailand,THA,2021-11-17,86071507.0,45700036.0,37527295.0,56,70009982.0,65.276457
21656,21656,Thailand,THA,2021-11-18,86890826.0,46005152.0,37939622.0,55,70009982.0,65.712275
21657,21657,Thailand,THA,2021-11-20,88330952.0,46473004.0,38836504.0,53,70009982.0,66.380540

In [16]:
data.drop(columns=['Unnamed: 0'], axis=0, inplace=True)

In [18]:
cleaner = Cleaner(data)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 21441 to 21657
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  217 non-null    object
 1   iso_code                 217 non-null    object
 2   date                     217 non-null    object
 3   total_vaccinations       217 non-null    float64
 4   people_vaccinated        217 non-null    float64
 5   people_fully_vaccinated  217 non-null    float64
 6   New_deaths               217 non-null    int64
 7   population               217 non-null    float64
 8   ratio                    217 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 17.0+ KB

In [20]:
new_data = cleaner.drop_columns(['iso_code'])

In [21]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 21441 to 21657
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  217 non-null    object
 1   date                     217 non-null    object
 2   total_vaccinations       217 non-null    float64
 3   people_vaccinated        217 non-null    float64
 4   people_fully_vaccinated  217 non-null    float64
 5   New_deaths               217 non-null    int64
 6   population               217 non-null    float64
 7   ratio                    217 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 15.3+ KB

In [27]:
new_data['country'].loc[new_data['population'] == new_data['population'].max()].head()

21441    Thailand
21442    Thailand
21443    Thailand
21444    Thailand
21445    Thailand
Name: country, dtype: object

In [ ]:
def add_ratio_data(df : pd.DataFrame):
    df['ratio_year'] = df.apply(lambda row: str(row.date)[0:3] + str(row.ratio), axis = 1)
    df['ratio_month'] = df.apply(lambda row: str(row.date)[5:6] + str(row.ratio), axis = 1)
    df['ratio_day'] = df.apply(lambda row: str(row.date)[8:9] + str(row.ratio), axis = 1)
    return df

In [30]:
new_data = add_ratio_data(new_data)